<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/style2.css}">
    <title>Titulares</title>
</head>
<body>
    <h1>Titulares</h1>
    <a th:href="@{/titular/ui/criar}">Adicionar titular</a>
    <a th:href="@{/veiculos/ui/criar}">Adicionar Veículos</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Idade</th>
                <th>Email</th>
                <th>Numeração carteira</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="titular: ${titulares}">
                <td th:text="${titular.id}"></td>
                <td th:text="${titular.nome}"></td>
                <td th:text="${titular.idade}"></td>
                <td th:text="${titular.email}"></td>
                <td th:text="${titular.numeracaoCarteira}"></td>
                <td><a th:href="@{/titular/ui/listar/{id}(id=${titular.id})}">Veiculos</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>